{% extends 'base.html.twig' %}
{% block title %} Hello ! {% endblock %}
{% block body %}

<div class ="container">
	<h1>Bonjour home page Admin</h1>
	<div class="row">
		<div class="col-6">
			<ul class="list-group">
				<a href="{{ path('note_index') }}">	
				  <li class="list-group-item">Note</li>
				</a> 
				<a href="{{ path('accord_index') }}" 
				  <li class="list-group-item">Accord</li>
				</a> 	
			</ul>
		</div>
	</div>	
</div>
{% endblock %}