{% extends 'base.html.twig' %}
{% block title %} Hello ! {% endblock %}
{% block body %}
<body onload="note()">
    <h1 onclick="findRenversement()" class ="btn">Go</h1>
    <div class="row justify-content-center"> 
        <h1>Trouver l'accord {{ mode|replace({'"' : ""})|capitalize }}</h1>
    </div>
    <div class="row justify-content-center"> 
        <h3 id="noteToFind"></h3>
    </div>
    <div class="row justify-content-center"> 
        <div id="papaDiv">
            <div onclick="check(fondamental, tierce, quinte)" id="piano" style="display:flex;">
            </div>
        </div>    
    </div>
    <div class="row justify-content-center" id="answer">
    </div>    
</body>
<script type="text/javascript">
let piano = document.getElementById('piano'); 

	//note
const C4 = new Audio("/sounds/C4.mp3");
const Db4 = new Audio("/sounds/Db4.mp3");
const D4 = new Audio("/sounds/D4.mp3");
const Eb4 = new Audio("/sounds/Eb4.mp3");
const E4 = new Audio("/sounds/E4.mp3");
const F4 = new Audio("/sounds/F4.mp3");
const Gb4 = new Audio("/sounds/Gb4.mp3");
const G4 = new Audio("/sounds/G4.mp3");
const Ab4 = new Audio("/sounds/Ab4.mp3");
const A4 = new Audio("/sounds/A4.mp3");
const Bb4 = new Audio("/sounds/Bb4.mp3");
const B4 = new Audio("/sounds/B4.mp3");
const C5 = new Audio("/sounds/C5.mp3");
const Db5 = new Audio("/sounds/Db5.mp3");
const D5 = new Audio("/sounds/D5.mp3");
const Eb5 = new Audio("/sounds/Eb5.mp3");
const E5 = new Audio("/sounds/E5.mp3");


function getNote(note) {
    if(note == "Do") {
        return  C4;
    }if(note == "Do#") {
        return  Db4;
    }if(note == "Re") {
        return  D4;
    }if(note == "Re#") {
        return  Eb4;
    }if(note == "Mi") {
        return  E4;
    }if(note == "Fa") {
        return  F4;
    }if(note == "Fa#") {
        return  Gb4;
    }if(note == "Sol") {
        return  G4;
    }if(note == "Sol#") {
        return  Ab4;
    }if(note == "La") {
        return  A4;
    }if(note == "La#") {
        return  Bb4;
    }if(note == "Si") {
        return  B4;
    }
}

function note() 
{
    // Notes Blanche
    let margin = 40;       
    for (let i = 0 ; i < 3; i++) {
        let notes = ['Do', 'Re', 'Mi', 'Fa', 'Sol', 'La', 'Si']
        
        notes.forEach(function(note) {
            let myNote = "div" + note;
            myNote = document.createElement('div');
            myNote.style.height = "450px";
            myNote.style.width = "60px";
            myNote.style.border = "solid";
            myNote.style.backgroundColor = "white"; 
            myNote.id = note + i
            myNote.addEventListener("click", function() {
                let p = document.createElement('p');
                p.innerHTML = note;
                p.style.paddingTop = "400px";
                p.style.marginLeft = "17px";
                p.style.fontSize = "25px"
                p.style.fontWeight = 'bold';
                note = getNote(note)
                note.play();
                myNote.appendChild(p)
            }); 
            piano.appendChild(myNote)
        })

        // Notes noire
        let notesNoire = ['Do#', 'Re#', 'Fa#' , 'Sol#', 'La#']

        notesNoire.forEach(function(note) {
            let myNote = "div" + note;
            myNote = document.createElement('div');
            myNote.style.height = "350px";
            myNote.style.width = "40px";
            myNote.style.backgroundColor = "black";
            myNote.style.border = "solid";
            myNote.id = note + i
            myNote.addEventListener("click", function() {
                let p = document.createElement('p');
                p.innerHTML = note;
                p.style.paddingTop = "300px";
                p.style.marginLeft = "7px";
                p.style.color = "grey";
                p.style.fontSize = "25px"
                p.style.fontWeight = 'bold';
                note = getNote(note)
                note.play();
                myNote.appendChild(p)
            }); 
            myNote.style.position = "absolute";
            myNote.style.marginLeft = margin + "px";
            piano.appendChild(myNote);

            if(margin == 100 || margin == 340 || margin == 520 || margin == 760 || margin == 940) {
                margin += 120;
            }else {
                margin += 60;
            }
        });
    }

    let mode = JSON.parse({{ mode|json_encode|raw }});
    //findMajorChords(mode);   
}   


let majorChords = {
                 '1'   : ['Do', 'Mi', 'Sol'],
                 '2'  : ['Do#', 'Fa', 'Sol#'],
                 '3'   : ['Re', 'Fa#', 'La'],
                 '4'  : ['Re#', 'Sol', 'La#'],
                 '5'   : ['Mi', 'Sol#', 'Si'],
                 '6'   : ['Fa', 'La', 'Do'],
                 '7'  : ['Fa#', 'La#', 'Do#' ],
                 '8'  : ['Sol', 'Si', 'Re'],
                 '9' : ['Sol#', 'Do', 'Re#'],
                 '10'   : ['La', 'Do#', 'Mi'],
                 '11'  : ['La#', 'Re', 'Fa'],
                 '12'   : ['Si', 'Re#', 'Fa#'],
                 };

let minorChords = {
                 '1'   : ['Do', 'Re#', 'Sol'],
                 '2'  : ['Do#', 'Mi', 'Sol#'],
                 '3'   : ['Re', 'Fa', 'La'],
                 '4'  : ['Re#', 'Fa#', 'La#'],
                 '5'   : ['Mi', 'Sol', 'Si'],
                 '6'   : ['Fa', 'Sol#', 'Do'],
                 '7'  : ['Fa#', 'La', 'Do#' ],
                 '8'  : ['Sol', 'La#', 'Re'],
                 '9' : ['Sol#', 'Si', 'Re#'],
                 '10'   : ['La', 'Do', 'Mi'],
                 '11'  : ['La#', 'Do#', 'Fa'],
                 '12'   : ['Si', 'Re', 'Fa#'],
                 };

let tierce;
let quinte;
let fondamentalClick;
let tierceClick;
let quinteClick;
let numero1 = 1;
let numero2 = 1;
let len = 0;
let fondamentalElement;
let tierceElement;
let quinteElement;
let tabUsed;

function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function shuffle(array)
{
    array.sort(() => Math.random() - 0.5);
    return array;
}

function reset() {
    tierceClick = false;
    quinteClick = false;
    fondamentalClick = false;
    while (piano.lastElementChild) {
        piano.removeChild(piano.lastElementChild);
    }
    console.log(piano);
    note();
}

function check(note) 
{  
    if(tierceClick == true) {
        tierceElement.style.backgroundColor = "green";
    }if(quinteClick == true) {
        quinteElement.style.backgroundColor = "green";
    }if(fondamentalClick == true) {
        fondamentalElement.style.backgroundColor = "green";
    }if(tierceClick == true && quinteClick == true && fondamentalClick == true) {
        alert("bravo vous avez trouvé l'accord")
        reset()
    }
}      

function findMajorChords(mode)
{   
    if(mode == 'majeur') {
    tabUsed = majorChords; 
    }if(mode == 'mineur') {
        tabUsed = minorChords;
    }
    let tab1 = ['Fa1', 'Fa#1', 'Sol1'];
    let tab2 = ['Sol#1', 'La1', 'La#1', 'Si1'];
    let number = getRandomInt(Object.keys(majorChords).length);
    let myChord = tabUsed[number];
    chordDiv = document.getElementById(  myChord[0] + '1');
    fondamental = myChord[0] + '1';
    let noteToFind = document.getElementById('noteToFind');
    noteToFind.innerHTML = "Accord de " + myChord[0]

    if(tab1.includes(fondamental)) {
        numero1 = 1
        numero2 = 2
    }if(tab2.includes(fondamental)){
        numero1 = 2
        numero2 = 2
    }if(tab2.includes(fondamental) && mode == 'mineur' && fondamental != 'La#1' && fondamental != 'La1'){
        numero1 = 1
        numero2 = 2
    }
    tierce = myChord[1] + numero1;
    quinte = myChord[2] + numero2;
    numero1 = 1;
    numero2 = 1

    fondamentalElement = document.getElementById(fondamental);
    fondamentalElement.addEventListener("click", function() {
        fondamentalClick = true;
        });

    tierceElement = document.getElementById(tierce);
    tierceElement.addEventListener("click", function() {
        tierceClick = true;
        });

    quinteElement = document.getElementById(quinte);
    quinteElement.addEventListener("click", function() {
        quinteClick = true; 
        });
}

function findRenversement() 
{
    tabUsed = majorChords;
    let number = getRandomInt(Object.keys(tabUsed).length);
    console.log(number)
    let fondamental = tabUsed[number][0];
    let chordShuffle = shuffle([tabUsed[number]]);
    let myChord = tabUsed[number];
    let fondamentalNumber = getRandomInt(2);

    fondamentalDiv = myChord[0] + fondamentalNumber;

    // si la fondamental est égal a 1 : tierce = 0 ou 1 else fondamental = 2 : tierce = 1 ou 2
    let tierceNumber;
    if(fondamentalNumber == 1) {
        tierceNumber =  (getRandomInt(2) + 1);
        tierceDiv = myChord[1] + tierceNumber;
    }if(fondamentalNumber == 2) {
        tierceNumber = (getRandomInt(2) + 1)
        tierceDiv = myChord[1] + tierceNumber;
    }
    /* si la tierce 0 : quinte = 0
       si la tierce = 1 && fondamental = 1 : quinte = 1 ou 2
       si la tierce = 1 && fondamental = 2 : quinte =  1
       si la tierce = 2 && fondamental = 2: quinte = 1 ou 2
    */  
    if(tierceNumber == 0) {
       quinteDiv = myChord[2] + 0; 
   }if(tierceNumber == 1 && fondamentalNumber == 1) {
       quinteNumber = getRandomInt(2)   ;
       quinteDiv = myChord[2] + quinteNumber;
   }if(tierceNumber == 1 && fondamentalNumber == 2) {
       quinteDiv = myChord[2] + 1;
   }if(tierceNumber == 2 && fondamentalNumber == 2) {
       quinteNumber = getRandomInt(2)
       quinteDiv = myChord[2] + quinteNumber;
   }
   console.log(fondamentalNumber)
    
    let chordNote = [fondamentalDiv, tierceDiv, quinteDiv];
    chordNote.forEach(function(note) {
        note = document.getElementById(note);
        note.style.backgroundColor = "green";
    })
    // création des réponses
    let allNotes = ['Do', 'Do#', 'Re', 'Re#', 'Mi', 'Fa', 'Fa#', 'Sol', 'Sol#', 'La', 'La#', 'Si'];
    divAnswer = document.getElementById('answer')
    allNotes.forEach(function(note) {
        let myAnswer = "answer" + note;
        myAnswer = document.createElement('div')
        myAnswer.innerHTML = note;
        myAnswer.className ="col-1.9 btn";
        divAnswer.appendChild(myAnswer);
    });
    console.log(myChord);
}


</script>
{% endblock %}